* {
    box-sizing: border-box;
    gap: 10px;
}

.row{
  width: 1530px;
  margin-left: 2px;
  display: flex;
  align-items: right;
  justify-content:center;
}

/* Style the header */
.header {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.grid-item{
    display: flex;
    height: 8%;
    justify-content: space-between;
}

.icon{
    border: none;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 26%;
  border-radius: 8px;
  
}

/* Middle column */
.column.middle {
  width: 45%;
  border-radius: 8px;
  background-color:rgb(176, 176, 255);
  overflow-y: auto;
}

/* Additional styling for the second row */
.column.middle .second-row {
    margin-top: 9px; 
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    height: 300px;
    overflow-y: auto;
}    

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  width: 20%;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}



