{% extends 'main.html' %}

<head>

</head>

<body>
    {% block content %}
    <div style="margin-left: 10px; margin-top: 10px;">
        <h6>Hello {{request.user}}</h3>
    </div>
    <div class="home-container">

        <div>
            <h2>Browse Topics</h2>
            <hr>
    
            <div>
                <div>
                    <a href="{% url 'home' %}" style="text-decoration: none;">All</a>
                </div>
        
                {% for topic in topics %}
                   <div class="grid-item">
                        <a href="{% url 'home' %}?r={{topic.name}}" style="text-decoration: none;"> {{topic.name}} </a>
        
                        <input type="button" class="button" role="button" style="margin-top: 10px;"
                        onclick="changeStatus(this)" data-topic="{{ topic.name }}"
                        value="{% if topic.name in list_topic_following %} Following {% else %} Follow {% endif %}"/>
                   </div>
                {% endfor %}
            </div>
    
        </div>
    
        <div>
            <div>
                <h5>{{room_count}} rooms available </h5>
            </div>
            
            <a href="{% url 'create-room' %}" style="text-decoration: none;"> Create Room </a>
            
            <div>
    
                {% for room in rooms %}
                    <div>
                        {% if request.user.username == room.host.username %}
    
                            <a href="{% url 'update-room' room.id %}" style="text-decoration: none;">Edit</a>
                            <a href="{% url 'delete-room' room.id %}" style="text-decoration: none;">Delete</a>
    
                        {% endif %}
                        <a href="{% url 'user_profile' user_id=room.host.id username=room.host.username%}"
                            style="text-decoration: none;">@ {{room.host.username}} </a>
                        {% if request.user.is_authenticated %}
                                {% if room.host.username != request.user.username %}
                                <input type="button" class="user-button" role="button"
                                onclick="followUnfollow(this)" data-id="{{ room.host.id }}"
                                value="{% if room.host in followings %} Following {% else %} Follow {% endif %}"/>
                                {% endif %}
                        {% endif %}
                        <h4>
                            <!-- if we change the url path to path('room_page/') from urlpatterns, it won't matter cause 'room' from below, accesses name=room from urlpatters. -->
                            <a href="{% url 'room' room.id %}" style="text-decoration: none;"> {{room.name}}</a> 
                        </h4>
                        <small>{{room.topic.name}}</small>
                        <hr>
                    </div>
                {% endfor %}
    
            </div>
        </div>
    
        <div>
            <div>
                <h2>Top Hosts</h2>
            </div>
            <hr>
            {% for user in all_users %}
                <div>
                    <h4>
                        <a href="{% url 'user_profile' user_id=user.id username=user.username %}"
                        style="text-decoration: none;">
                         {{user.username}} 
                        </a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    
    </div>
    
    {% endblock %}
    
</body>