{% extends 'main.html' %}

{% block content %}

<form method="POST" action="">
    {% csrf_token %}

    <label>Username</label>
    <input type="text" name="username" placeholder="Enter username" />

    <label>Password</label>
    <input type="password" name="password" placeholder="Enter password" />

    <input type="submit" value="Login" />

</form>
<div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div>
    <p>Don't have an account? <span><a href="{% url 'register-user' %}">Register!</a></span></p>
</div>

{% endblock %}