{% extends 'main.html' %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}

        <label>First Name</label>
        <input type="text" name="first-name"/>

        <label>Last Name</label>
        <input type="text" name="last-name"/>

        <label>Email</label>
        <input type="email" name="email"/>

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" />

        <label>Password</label>
        <input type="password" name="password1" placeholder="Enter password" />

        <label>Confirm Password</label>
        <input type="password" name="password2" placeholder="Confirm password"/>

        <a href="{{request.META.HTTP_REFERER}}">Cancel</a>
        <input type="submit" value="Register" />

    </form>

{% endblock %}
