<head>
    {% extends 'main.html' %}
    {% load static %}  <!--this tag is loaded for images -->
</head>

<body>
    {% block content %}
        <div class="room-container">
            <div class="row">
                <div class="column side"></div>
                <div class="column middle" style="margin-top: 40px; height: 550px;">
                    <div>
                        <h1>{{room.name}}</h1>    
                    </div>
                
                    <div>
                        <h4>{{room.description}} </h4>
                    </div>
                    
                    <div>
                        <p>{{room.created}}
                            <hr>                         
                        </p>
                        <div class="grid-item">
                            <p>hosted by {{room.host.username }}</p>
                            {% if room.host != request.user %}
                                <input type="button" class="btn btn-outline-primary btn-sm" role="button"
                                onclick="joinRoom(this)" data-id="{{ room.id }}"
                                value="{% if request.user in participants %} Joined {% else %} Join {% endif %}"/>
                            {% endif %}
                        </div>
                        
                    </div>
                    <div class="second-row">
                        
                            {% for message in messages %}
                                <p style="font-size: 12px;">@ {{message.user}}| {{ message.created }}</p>
                                <div class="grid-item">
                                    <p>{{ message.body }}</p>
                                    <form action="">
                                        <!-- <button class="trash">  <img src="{% static 'images/trash.svg' %}"/>
                                        </button>
                                        <button class="trash">  <img src="{% static 'images/edit.svg' %}"/>
                                        </button> -->
                                        <button class="icon">  <img src="{% static 'images/more.svg' %}"/>
                                        </button> 
                                    </form>                                  
                                </div>
                                <hr>
                            {% endfor %}
                        
                    </div>
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control" name="inc_msg" style="width: 665px; margin-top: 10px;"/>
                        </form>
                    </div>
                </div>
                <div class="column side"></div>
            </div>
            
    
    {% endblock %}
</body>